// from the original brunch install
// feel free to delete and create your own further structure

.brunch {
  font-family: -apple-system, Sans-Serif;
  text-align: center;
  font-size: 28pt;
  color: #3f894a;
}
